.shop-select {
    padding: 3% 80px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.shirt-preview {
    position: relative;
    flex: 450px;
    height: fit-content;
    padding: 5% 10px;
    max-width: 600px;

    border: solid 6px #000;

    & img {
        width: 100%;
    }
}

.shirt-option {
    position: relative;
    padding: 20px;
    width: 50%;
    height: 100%;
    max-height: 100%;

    @media (max-width: 750px) {
        padding: 10px;
    }
}

form#shirt-option-parts {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

div.option-part {
    display: none;
    height: 100%;

    &.current-part {
        display: block;
    }
}

.container:has(.option) {
    height: 90vh;
}

.option-part h4.progress {
    font-size: 16px;
    font-weight: 700;
    color: #a8a8a8;

    & span {
        color: #7a7a7a;
    }
}

.option-part h1.product-name {
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 25px;
}

#step-2 .product-name {
    margin-bottom: 10px;
}

.input-row-group {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 35px;
    margin-bottom: 20px;
    gap: 15px;
    height: fit-content;

    @media (max-width: 450px) {}
}

span.option-name {
    position: absolute;
    top: 0;
    left: 0;
    color: #616060;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.radio-group {
    position: relative;
    display: block;
    margin-bottom: 5px;
}


label {
    font-size: 16px;

    @media (max-width: 450px) {
        font-size: 14px;
    }
}

.radio-group input[type="radio"] {
    position: absolute;
    appearance: none;

    &:is(:focus, :checked)+label.radio-label::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border: .2px solid #555;
    }
}

.radio-group label.radio-label {
    position: relative;

    padding: 5px 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: #d9d9d9;
    user-select: none;

    @media (max-width: 450px) {
        margin: 0;
        padding: 5px 10px;
    }
}

.save-world {
    position: relative;
    width: 100%;
    background-color: #e4e4e4;
    padding: 10px;
    padding-left: 50px;
    border-radius: 15px;
}

#save-world-check {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 10px;
    border: solid 1px #888;
}

.save {
    font-size: 24px;
    font-weight: 700;
    color: #010101;
}

.must-read {
    font-size: 14px;
    font-weight: 500;
    color: #FB6E4F;
}

.input-row-group input[type="number"] {
    border-radius: 5px;
    border: solid .2px #333;
    height: 50px;
    width: 70px;
    padding: 10px;

    font-size: 30px;
    text-align: center;

    @media (max-width: 450px) {
        width: 45px;
        height: 45px;
        font-size: 18px;
        padding: 10px;
    }
}

.input-row-group input[type="number"]:focus,
.input-row-group input[type="number"]:active {
    border: solid .2px #333;
}

.size-amount-group table {
    position: relative;
    width: 100%;
    border-collapse: collapse;

    & td {
        text-align: center;
        vertical-align: baseline;
        padding: 5px;
    }

    & td:first-child {
        width: 55px;
    }
}

.size-amount-header {
    font-size: 14px;
    font-weight: 500;
    color: #868686;
}

.size-amount-row::after {
    position: relative;
    height: 25px;
    width: 100%;
}

.size {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    vertical-align: baseline;

    padding: 12px;
    border-radius: 8px;
    aspect-ratio: 1/1;
}

.amount-input {
    height: 30px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 8px;
    position: relative;
    padding: 5px 10px;
    margin-inline: 10px;

    &::placeholder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-weight: 600;
        user-select: none;
    }

    &:is(:focus)::placeholder {
        z-index: -1;
    }
}

.LCS-inch {
    font-size: 14px;
    font-weight: 600;
    color: #868686;
    margin-block: 25px;
}


.step-btn-group {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    bottom: 20px;
}

#prev-step-btn,
#next-step-btn {
    width: fit-content;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
    border: none;
    font-weight: 700;
}

.dialogue {
    position: absolute;
    padding: 25px 40px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 12px;
    background-color: #00000040;
    display: none;

    &.success {
        animation: success 2s linear;
    }
}

@keyframes success {
    0% {
        display: block;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.close-dialogue {
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #00000025;
    }
}

.checkbox-group input[type="checkbox"] {
    position: absolute;
    appearance: none;

    &:checked+label.checkbox-label::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        width: 100%;
        height: 100%;
        border: 3px solid lightgreen;
    }
}

.checkbox-group label.checkbox-label {
    position: relative;

    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
    background-color: #eee;
    user-select: none;
}

.preview {
    justify-content: center;
}

.preview-btn {
    padding: 10px;
    width: 50%;
    background-color: royalblue;
    color: #fff;
    height: auto;
    border: .2px solid #eee;
    border-radius: 8px;
    font-size: 18px;
}