.slide-show-wrapper {
    position: relative;
    width: 100%;
    height: 90vh;
    padding: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #eee; */
}

.swiper {
    width: 80%;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active {
    background-color: #fff;
}

.about-cc {
    width: 100%;
    height: 90vh;
    position: relative;
    padding: 20% 10%;
    display: flex;
    flex-direction: column;
}

.about-cc-header {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 25px;
}

.about-cc-group {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

.about-cc-content {
    flex: 1;
}

.number {
    font-size: 50px;
    font-weight: 800;
    color: #FB6E4F;
}

.number-caption {
    font-size: 20px;
    font-weight: 800;
    color: #060606;
}

.recommend {
    padding: 50px;
}

.recommend-header {
    font-size: 32px;
    font-weight: 800;
    margin-left: 50px;
}