.product {
    padding: 5% 80px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.container:has(.product) {
    height: 90vh;
}

.product-preview {
    position: relative;
    flex: 450px;
    height: fit-content;
    padding: 5% 10px;
    max-width: 600px;

    border: solid 6px #000;

    & img {
        width: 100%;
    }
}

.product-info {
    position: relative;
    padding: 20px;
    width: 50%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.product-info .product-name {
    font-size: 40px;
    font-weight: 800;
}

.product-info .shop-name {
    font-size: 24px;
    font-weight: 700;
    color: #858585;
    margin-bottom: 25px;
}

.product-info .product-about {
    font-size: 16px;
    font-weight: 500;
    color: #858585;
    margin-bottom: 25px;
}

.tags {
    display: flex;
    flex-direction: column;
}

span.tag {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}

.category-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 10px;

    & span.category {
        font-size: 12px;
        font-weight: 700px;
        padding: 8px 12px;
        color: #fff;
        background-color: #000;
        border-radius: 12px;
    }

}

#add-btn {
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
    border: none;
    font-weight: 700;

    position: absolute;
    bottom: 0;
    right: 0;
}