.t-shirt-group {
    position: relative;
    padding: 50px 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.t-shirt {
    position: relative;
    width: 350px;
    font-family: 'Inter', sans-serif;
    box-shadow: #00000025 3px 7px 5px 0;
}

.shirt-img-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    & img {
        width: 100%;
        object-fit: cover;
    }
}

.product-desc {
    padding: 20px;
    padding-bottom: 30px;
    background-color: #d9d9d9;
}

.product-desc .product-name {
    font-size: 20px;
    font-weight: 700px;
}

.product-desc .shop-name {
    font-size: 10px;
    color: #858585;
    margin-bottom: 15px;
}

.category-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;

    & span.category {
        font-size: 12px;
        font-weight: 700px;
        padding: 8px 12px;
        color: #fff;
        background-color: #000;
        border-radius: 12px;
    }

}

.product-desc .price {
    font-size: 16px;
    font-weight: 800px;
    color: #737373;

    & span {
        font-size: 20px;
        color: #000;
    }
}

.star-group {
    display: flex;
    flex-direction: row;
    align-items: center;

    & .star {
        margin-right: 15px;
    }

    & .user-rating {
        font-size: 12px;
        font-weight: 700px;
        color: #565656;
    }
}

.add-btn {
    position: absolute;
    font-size: 16px;
    font-weight: 700px;
    color: #fff;
    background-color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;

    bottom: 15px;
    right: 15px;
}

#cart-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    background-color: #000;
}